
html, body, p {
    color: #484848
}

.apartment {
    color: #a72da3
}

.condo {
    color: #d68000
}

.house {
    color: #bf1818
}

.clickable {
    cursor: pointer
}
.btn-bwm {
    background-color: #484848;
    border-color: #484848;
    color: white;
    padding: 15px 30px;
    font-size: 20px !important;
  
    &:hover, &:focus, &:active {
      border-color: #484848 !important;
      background-color: #484848 !important;
    }
  }